.cart-box{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 20px;
    margin:30px 0 ;
    .table{
        .quantity{
            input{
                margin:0 5px;
                text-align: center;
            }
        }
        thead{
            tr{
                th{
                    text-align: center;
                }
            }
        }
        tbody{
            border-top: 1px solid #c61d21;
            border-bottom: 1px solid #c61d21;
            tr{
                td{
                    border-bottom: 0;
                    text-align: center;
                    vertical-align: middle;
                    img{
                        width: 80px;
                        height:80px;
                        border-radius:50%;
                    }
                }
            }
        }
    }
    .headCart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size:16px;
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
            transition: all 0.25s ease-in-out;
            &:hover{
                background-color: #e67779;
                color:#fff!important;
                // box-shadow: 0px 5px 10p rgba($color: #000000, $alpha: 3.0);
            }
        }
    }

}