
      <!-- Alert Exist -->
<div class="alert alert-warning alert-dismissible fade show w-50 mt-1 m-auto d-flex justify-content-between" role="alert" *ngIf="productExisted =='Product Is Aleady In Your Cart'">
    <strong>{{productExisted}}!</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="my-2">
    <app-select [title]="'Category'" [data]="categories"(selectedValue)="filterCategory($event)"></app-select>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3" *ngFor='let singleProduct of products'>
        <app-product [data]="singleProduct" (item)="addToCart($event)"></app-product>
    </div>
</div>
<div class="d-flex justify-content-center my-5" *ngIf="loading">
      <app-spinner></app-spinner>  
</div>