.box{
    width:97%;
    margin: 50px auto;
    height: 500px;
    img{
        width: 100%;
        max-height:450px ;
        min-height:450px ;
    }
    ul{
        li{
            font-size: 22px;
            margin:20px 0;
        }
    }

}